 .container-fluid{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Lato;
    
}

#banner{
    height: 110px;
    background-size: 100%;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
    vertical-align: center;
    background-color:#D2EDFB;
    background-image: linear-gradient(#D2EDFB,white);
}

.banner logo{
    width: 75%;
    height: 110px;
    padding: 5px;
}
 
.banner logo1{
    width: 25%;
    height: 95%;
    background: skyblue;
    position: absolute;
    bottom: 0px;
}

.navbar{
    color: white;
}

#thongtinDNC{
	background: skyblue;
	font-size: 17px;
	margin-right: 1px;
	margin-left: 1px;
}

 .indam{
 	font-weight: bold;
 	font-size: 17px;
 	line-height: 2;
 }
