.container-fluid{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Lato;
    
}

#banner{
    background-size: 100%;
    margin-bottom: 5px;
    background: #D2EDFB;
    margin-left: 1px;
    margin-right: 1px;
}

.banner col-md-8 col-sm-12 col-xs-12{
    width: 75%;
    float: left;
}
 
.banner .col-sm-4{
    width: 25%;
    float: right;
    background: skyblue;
}

.col-md-3 col-md-pull-6 col-sm-6 col-xs-12{
    float: left;
}

.col-sm-9 col-md-pull-6 col-sm-6 col-xs-12{
    float: left;
}

.navbar{
    border-radius: 10px;
}

#tinmoinhat .panel-heading h3{
    background: #2A8DDD;
    height: 40px;
    margin-top: 1px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 5px;
}

#bodyright .panel-body ul li{
    display: block;
    text-decoration: none;
    line-height: 32px;
    border-bottom: 1px solid #ccc
}

#lienketwebsite .panel-heading h3{
    background: #2A8DDD;
    height: 40px;
    margin-top: 1px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 5px;
}

#gioithieusach .panel-heading h3{
    background: #2A8DDD;
    height: 40px;
    margin-top: 1px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 5px;
}

#video .panel-heading h3{
    background: #2A8DDD;
    height: 40px;
    margin-top: 1px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 5px;
}

.noidung{
    margin-top: 1px;
    padding: 5px;
    margin-left:0cm; 
    margin-right:0cm; 
    text-align:justify;            
    font-family:Lato;
    font-size:14.0pt;
    background-color:white;
}

.tieude{
    text-align:center;
    color:blue;
    font-weight: bold;
    size: 50px;
    font-family:Lato;
    font-size: 16.0pt;
}

.muc{
    margin-left:0cm;
    margin-right:0cm;
    font-family:Lato;
    font-size:14.0pt;
    color:red;
}
 
#fooder{
    background: skyblue;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 10px;
}
