.container-fluid{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Lato;
    
}

#banner{
    background-size: 100%;
    margin-bottom: 5px;
    background: #D2EDFB;
    margin-left: 1px;
    margin-right: 1px;
}

.banner col-md-8 col-sm-12 col-xs-12{
    width: 75%;
    float: left;
}
 
.banner .col-sm-4{
    width: 25%;
    float: right;
    background: skyblue;
}

.navbar{
    border-radius: 10px;
}

#thongbao .panel-heading{
    margin: 0px;
    padding: 0px;
}

#thongbao .panel-heading h3{
    background: #2A8DDD;
    height: 40px;
    margin-top: 1px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 5px;
}

#thongbao panel-body{
    list-style: none;
}

#giomocua .panel-heading{
    margin: 0px;
    padding: 0px;
}

#giomocua .panel-heading h3{
    background: #2A8DDD;
    height: 40px;
    margin-top: 1px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 5px;
}

#gocanh .panel-heading{
    margin: 0px;
    padding: 0px;
}

#gocanh .panel-heading h3{
    background: #2A8DDD;
    height: 40px;
    margin-top: 1px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 5px;
}

#tinmoinhat .panel-heading h3{
    background: #2A8DDD;
    height: 40px;
    margin-top: 1px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 5px;
}

#bodyright .panel-body ul li{
    display: block;
    text-decoration: none;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
}

#lienketwebsite .panel-heading h3{
    background: #2A8DDD;
    height: 40px;
    margin-top: 1px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 5px;
}

#gioithieusach .panel-heading h3{
    background: #2A8DDD;
    height: 40px;
    margin-top: 1px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 5px;
}

#video .panel-heading h3{
    background: #2A8DDD;
    height: 40px;
    margin-top: 1px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 5px;
}

.carousel-inner img{
    width: 100%;
}

#slides{
    width: 100%;
    height: 200px;
}

#fooder{
    background: skyblue;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 10px;
}
