.container-fluid{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Lato;
    
}

#banner{
    background-size: 100%;
    margin-bottom: 5px;
    background: #D2EDFB;
    margin-left: 1px;
    margin-right: 1px;
    vertical-align: center;
    background-color:#D2EDFB;
    background-image: linear-gradient(#D2EDFB,white);
}

#color #logo{
    width: 100%;
    height: 110px;
    padding: 5px;
}

#logo1{
    width: 80%;
    height: 95%;
    position: absolute;
    bottom: 0px;
}

.navbar{
    font-size: 20px;
    border-radius: 10px;
}

#gioithieusach .panel-body{
    border: 0px; 
    background: #f3f2f1;
    margin: 0px;
}

.panel-lib{
    background: #fffcf0; 
    height: 270px; 
    overflow: hidden;
}

#latestnews{
    border-bottom: none; 
    position: relative; 
    height: 265px; 
    overflow: hidden;
}

#latestnews ul{
    font-style: normal;
    list-style-type: none; 
    padding: 2px 10px; 
    margin: 0px; 
    position: absolute; 
    top: 0px;
}

#latestnews ul li{
    border-bottom: 1px dotted rgb(239, 239, 239);
    padding: 3px 5px;  
    margin: 0px; 
    display: list-item;
}

#latestnews ul li a{
    color: #222;
}

.date-newstick{
    font-size: 11px;
}

#tinmoinhat .panel-heading h4{
    background:#43AAFE;
    height: 40px;
    margin-top: 1px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 5px;
}

#bodyright .panel-body ul li{
    display: block;
    text-decoration: none;
    line-height: 32px;
    border-bottom: 1px solid #ccc
}

#lienketwebsite .panel-heading h4{
    background: #43AAFE;
    height: 40px;
    margin-top: 1px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 5px;
}

#gioithieusach .panel-heading h4{
    background: #43AAFE;
    height: 40px;
    margin-top: 1px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 5px;
}

#gioithieusach .panel-body{
    border: 0px; 
    background: #F8FAF1;
    margin: 0px;
}

#video .panel-heading h4{
    background: #43AAFE;
    height: 40px;
    margin-top: 1px;
    text-align: center;
    line-height: 40px;
    color: white;
    border-radius: 5px;
}

.noidung{
    margin-top: 1px;
    padding: 5px;
    margin-left:0cm; 
    margin-right:0cm; 
    text-align:justify;            
    font-family:Lato;
    font-size:14.0pt;
    background-color:white;
}

.tieude{
    text-align:center;
    color:blue;
    font-weight: bold;
    size: 50px;
    font-family:Lato;
    font-size: 16.0pt;
}

.muc{
    margin-left:0cm;
    margin-right:0cm;
    font-family:Lato;
    font-size:14.0pt;
    color:red;
}
 
#fooder{
    background: #168BFF;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 10px;
    color: white;
}
